<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeMaterialDayNight"
        tools:targetApi="tiramisu">
        <property
          android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
          android:value="true" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".SubmissionsActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ComposeActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".CommentsActivity"
            android:theme="@style/CommentsDefaultTheme"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/item"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplitPlaceholderActivity" />

        <provider
          android:name="androidx.startup.InitializationProvider"
          android:authorities="${applicationId}.androidx-startup"
          android:exported="false"
          tools:node="merge">
            <meta-data
              android:name="com.simon.harmonichackernews.utils.FoldableSplitInitializer"
              android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
