<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.simon.harmonichackernews.SettingsActivity"
            android:exported="true" />

        <activity
            android:name="com.simon.harmonichackernews.SettingsDetailActivity"
            android:exported="true" />

        <activity
            android:name="com.simon.harmonichackernews.AboutActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name="com.simon.harmonichackernews.LicensesActivity"
            android:exported="true"
            tools:replace="android:exported" />

        <activity
            android:name="com.simon.harmonichackernews.ComposeSettingsActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
